body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.app {
  height: 100%;
}

:root {
  --primary: #ff3e6c;
  --secondary: #dddddd;
  --border-color: grey;
  --error-color: #ED4337;
}